/* Spectral font */
@font-face {
  font-family: 'Spectral';
  src: url('./fonts/Spectral-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Spectral';
  src: url('./fonts/Spectral-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Spectral';
  src: url('./fonts/Spectral-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* Center images and graphs*/
.cover {
  display: block;
  margin-block: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.graph {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/* Title and tagline */
.cover-title {
  margin-block: 1em;
  font-size: 2.5em;
  font-style: italic;
  text-align: center;
}
.cover-tagline {
  margin-block: 1em;
  margin-bottom: 1.5em;
  font-size: 1.2em;
  font-style: italic;
  text-align: center;
}

/* Increase font of sidebar */
.chapter li a {
  font-size: 1em;
  text-align: left;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body, html {
  height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  font-family: "Spectral", serif, sans-serif;
  letter-spacing: 0.2px;
}
