@use "variables";
.menu {
  height: 100%;
  position: absolute;
  left: 0;
  overflow-y: auto;
  width: #{variables.$sidebar-width};
  color: #461901;
  background: #fffbeb;
  border-right: 1px solid rgba(70, 25, 1, 0.25);
  transition: 0.5s;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.75rem;

    a {
      display: block;
      color: #461901;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      text-decoration: none;
      padding: 10px 15px;

      &:hover {
        text-decoration: underline;
      }
      border-bottom: 1px solid #461901
    }

    li.active > a {
      color: #0053bc;
      text-decoration: none;
    }

    ul {
      padding-left: 20px;
    }

    ul a {
      font-size: 1.5rem;
      border-bottom: 0;
    }
  }
}

.menu-hidden {
  width: 0;
}

@include variables.max-screen(600px) {
  .menu {
    width: 0;
    z-index: 1;
  }
  
  .menu-hidden {
    width: calc(100% - 100px);
    z-index: 0;
  }
}
