<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ get_url(path="favicon.ico") | safe  }}" type="image/x-icon">
        <meta name="robots" content="index, follow">
        <link rel="canonical" href="{{current_url | safe}}">

        {% block meta %}
            {% if config.description %}
                <meta name="description" content="{{ config.description }}" />
            {% elif section.description %}
                <meta name="description" content="{{ section.description }}" />
            {% endif %}
        {% endblock meta %}

        <title>
            {% block title %}
                {% if config.title %}
                    {{ config.title }}
                {% elif section.title %}
                    {{ section.title }}
                {% endif %}
            {% endblock title %}
        </title>

      {% block js %}
      {% endblock js %}

      {% block css %}
      <link rel="stylesheet" href="{{ get_url(path="book.css") | safe }}">
      {% endblock css %}

      {% block extra_head %}
      {% endblock extra_head %}
    </head>

    <body>
        <div class="menu">
            {% block before_menu %}
            {% endblock before_menu %}
            <nav role="navigation">
                <ul>
                    
                    {% block menu %}
                    {% set menu_data = load_data(path="content/menu.yaml") %}
                    {% for i in menu_data %}
                        {% set section = get_section(path=i.section ~ "/_index.md") %}
                       
                        {# Determine if this is the current subsection or if a page within it is active #}
                        {% set is_active = false %}
                        {% if current_path == section.path %}
                            {% set is_active = true %}
                        {% endif %}

                        <li {% if is_active %}class="active"{% endif %}>
                            {% set chapter_num = loop.index %}
                            <a href="{{ section.permalink | safe }}">
                                {% if config.extra.book_number_chapters %}
                                    <strong>{{ chapter_num }}.</strong>
                                {% endif %}
                                {{ section.title }}
                            </a>

                            {% if section.pages and (
                                not config.extra.book_only_current_section_pages or
                                current_path == section.path or
                                section.pages | filter(attribute="path", value=current_path) | length > 0) %}
                                <ul>
                                {% for p in i.pages %}
                                    {% set page = get_page(path=i.section ~ "/" ~ p ~ ".md") %}
                                    <li {% if current_path == page.path %}class="active"{% endif %}>
                                        <a href="{{ page.permalink | safe }}">
                                        {% if config.extra.book_number_chapters %}
                                            <strong>{{ chapter_num }}.{{ loop.index }}.</strong>
                                        {% endif %}
                                        {{ page.title }}
                                        </a>
                                    </li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %} 
                {% endblock menu %}

                </ul>
            </nav>
            {% block after_menu %}
            {% endblock after_menu %}
        </div>

        <div class="page">
            <div class="page__header">
                <div class="menu-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                {% if config.build_search_index %}
                <span class="search-icon">🔎</span>
                {% endif %}
            </div>

            <div class="page__content">
                {% if config.build_search_index %}
                <div class="search-container">
                    <input id="search" type="search" placeholder="Search..">
                    <div class="search-results">
                        <div class="search-results__header"></div>
                        <ul class="search-results__items"></ul>
                    </div>
                </div>
                {% endif %}
                <div class="book-content">
                    {% block content %}
                        <h1>{{ section.title }}</h1>
                        {{ section.content | safe }}
                    {% endblock content %}
                </div>
            </div>
        </div>

        {% block js_body %}
            {% if config.build_search_index %}
            <script type="text/javascript" src="{{ get_url(path="elasticlunr.min.js") | safe }}"></script>
            <script type="text/javascript" src="{{ get_url(path="search_index.en.js") | safe }}"></script>
            {% endif %}
            <script type="text/javascript" src="{{ get_url(path="book.js") | safe }}"></script>
        {% endblock js_body %}
    </body>

</html>
